.countryInfo {
    display: flex;
    flex-direction: row;
    width: 100%;
    margin-top: 5rem;
    max-height: 30rem;
}

.flagData {
    display: flex;
    flex-direction: column;
}

.backButton {
    font-family: "Nunito Sans", sans-serif;
    min-width: 8.5rem;
    min-height: 2.5rem;
    border-radius: 5px;
    margin-left: 5rem;
    margin-top: 5rem;
    font-size: 1.1em;
    font-weight: 600;
    padding-bottom: 0.25rem;
    border: none;
    cursor: pointer;
}

.backButton img {
    max-height: 1.25rem;
    position: relative;
    top: 0.3rem;
    margin-right: 0.5rem;
    transform: scaleX(-1);
}

.light .backButton{
    background-color: $Dark-Mode-Text-Light-Mode-Elements;
    box-shadow: 0 0 2px 2px rgba(133, 133, 133, 0.25), 0 0 10px 10px rgba(133, 133, 133, 0.05);
}

.light .backButton:hover{
    background-color: $Light-Mode-Background;
}

.dark .backButton{
    background-color: $Dark-Mode-Elements;
    box-shadow: 0 0 2px 2px rgba(13, 18, 24, 0.25), 0 0 15px 15px rgba(7, 10, 14, 0.05);
}

.dark .backButton:hover{
    background-color: $Dark-Mode-Background;
}

.dark .backButton img{
    filter: invert(100%);
}

.countryInfo .flagHolder {
    flex: 4.8;
    display: flex;
    width: 100%;
    justify-content: center;
}

.countryInfo .flagHolder .countryFlag {
    margin: auto;
    margin-top: 0;
    max-height: 25rem;
    height: 100%;
    max-width: 80%;
    object-fit: contain;
}

.countryInfo .countryData {
    flex: 4;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 2.3rem;
}

.countrySubInformation {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    max-height: 45%;
    flex-wrap: wrap;
    list-style: none;
    margin-top: 2rem;
    max-width: 50rem;
}

.countrySubInformation li {
    font-size: 1em;
    margin-bottom: 0.6rem;
    margin-right: 5rem;
}

.languageHolder {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.languageHolder ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    margin-left: 0.5em;
}

.languageHolder li {
    margin-right: 0.5em;
}

.nativeNamesList {
    list-style:disc;
    margin-left: 3em;
}

.borderHolder {
    display: flex;
    flex-direction: row;
    margin-top: 1.25rem;
    margin-bottom: 2rem;
    font-size: 1.2em;
    margin-top: 1.6rem;
}

.borderHolder h3 {
    margin: auto;
    text-wrap: nowrap;
}

.borderList {
    display: flex;
    margin: auto;
    flex-direction: row;
    list-style: none;
    flex-wrap: wrap;
    margin-left: 0.75rem;
    margin-right: 1rem;
}

.borderList li {
    margin-right: 1rem;
    margin-bottom: 1rem;
}

.borderList li button {
    padding: 0.15rem 0.35rem;
    min-width: 6rem;
    padding: 0.4rem 0;
    font-size: 0.7em;
    font-weight: 600;
    border: none;
    border-radius: 0.25rem;
    font-weight: 300;
}

.light .borderList li button {
    background-color: $Dark-Mode-Text-Light-Mode-Elements;
    box-shadow: 0 0 2px 2px rgba(133, 133, 133, 0.25), 0 0 10px 10px rgba(133, 133, 133, 0.05);
}

.light .borderList li button:hover {
    background-color: $Light-Mode-Background;
}

.dark .borderList li button {
    background-color: $Dark-Mode-Elements;
    box-shadow: 0 0 2px 2px rgba(13, 18, 24, 0.25), 0 0 15px 15px rgba(7, 10, 14, 0.05);
}

.dark .borderHolder li button:hover{
    background-color: $Dark-Mode-Background;
}

.bold {
    font-weight: 600;
}