@import 'colours';
.countryCardHolder{
    display: flex;
    flex-wrap: wrap;
    justify-content:space-around;
    margin: 0 3rem;
    margin-top: 6rem;
}

.countryCard{
    display: flex;
    flex-direction: column;
    margin: 2rem;
    width: 16.75rem;
    overflow-x: hidden;
    justify-content: center;
    padding-bottom: 2.25rem;
    margin-bottom: 3rem;
    border-radius: 10px;
}

.dark .countryCard{
    background-color: $Dark-Mode-Elements;
}

.cardFlagHolder{
    display: flex;
    height: 10rem;
    overflow-y: hidden;
    overflow-x: hidden;
}

.countryCard img{
    align-self: center;
    min-width: 100%;
    min-height: 100%;
}

.countryCard h2{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    margin-left: 1.1rem;
    font-size: 1.25em;
}

.countryCard h3{
    margin-bottom: 0.15rem;
    margin-left: 1.3rem;
    font-size: 1em;
}