@import 'colours';
@import 'mediaSizes';

.header{
    display: flex;
    justify-content: space-between;
    
    padding-bottom: 1.7rem;
    padding-left: 4.5rem;
    letter-spacing: 0.025em;
    max-height: 5rem;
}

.light.header{
    background-color: $Dark-Mode-Text-Light-Mode-Elements;
    box-shadow: 0 0 5px 5px rgba(133, 133, 133, 0.25), 0 0 15px 15px rgba(133, 133, 133, 0.05);
}

.dark.header{
    background-color: $Dark-Mode-Elements;
    box-shadow: 0 0 5px 5px rgba(13, 18, 24, 0.25), 0 0 15px 15px rgba(7, 10, 14, 0.05);
}

.headerText{
    margin-top: 1rem;
    font-size: 1.5em;
    font-weight: 600;
    padding: 0.5rem;
    border-radius: 1rem;
}

.themeButton img{
    position: relative;
    top: 0.2em;
    max-height: 1.4rem;
    margin-right: 0.25rem;
    fill: $Dark-Mode-Text-Light-Mode-Elements;
}

.themeButton{
    margin-right: 3.3rem;
    letter-spacing: 0.015em;
    margin-top: 0.35rem;
    border: none;
    font-weight: 300;
    font-size: 1em;
    height: 4rem;
    width: 10rem;
    border-radius: 2rem;
    padding-bottom: 0.35rem;
    font-family: inherit;
    cursor: pointer;
}

.light .themeButton{
    background-color: $Dark-Mode-Text-Light-Mode-Elements;
}

.light .themeButton:hover{
    background-color: $Light-Mode-Background;
}

.dark .themeButton{
    background-color: $Dark-Mode-Elements;
}

.dark .themeButton:hover{
    background-color: $Dark-Mode-Background;
}

.light .headerText:hover{
    background-color: $Light-Mode-Background;
}

.dark .headerText:hover{
    background-color: $Dark-Mode-Background;
}

@media (max-width: $breakpoint-tablet) {
    .header{
        justify-content: space-between;
        padding: 0;
        padding-bottom: 0.5rem;
        max-height: fit-content;
    }
    .headerText{
        margin-top: 1.45rem;
        margin-left: 0.45rem;
        font-size: 1em;
        font-weight: 600;
        letter-spacing: -0.045em;
    }
    .themeButton{
        padding: 0;
        margin-right: 0;
        width: 7.5rem;
        margin-top: 0.44rem;
        margin-right: 0;
        font-size: 0.75em;
        font-weight: 300;
    }
    .themeButton img{
        height: 1rem;
    }

}
