@import 'colours';

.backgroundRef{
    position: absolute;
    top: 0;
    z-index: 10;
    opacity: 0;
    width: 100vw;
    pointer-events: none;
    overflow: visible;
}

.page{
    min-height: 100%;
}